<section class="top-header">
    <div class="flex-row flex-center flex-space-between">
        <div class="flex-row flex-center gap-4">
            <img src="../../../assets/images/instagram.png" alt="instagram">
            <span class="white-text">{{ instagram }}</span>
        </div>
        <div class="flex-row flex-center gap-4">
            <img src="../../../assets/images/whatsapp.png" alt="whatsapp">
            <span class="white-text">{{ whatsapp }}</span>
        </div>
        <div class="flex-row flex-center gap-4">
            <img src="../../../assets/images/tiktok.png" alt="tiktok">
            <span class="white-text">{{ tiktok }}</span>
        </div>
        <div class="flex-row flex-center gap-4">
            <img src="../../../assets/icons/location.png" alt="location">
            <span class="white-text">{{ location }}</span>
        </div>
        <div class="flex-row flex-center gap-4">
            <img src="../../../assets/icons/service.png" alt="service">
            <span class="white-text">{{ working_hrs }}</span>
        </div>
    </div>
</section>
