:host {
    mat-card {
        width: 30%;
        border-radius: 30px;
        padding: 32px;
    }

    swiper-slide {
        z-index: 1;
    }

    video {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 0;
        object-fit: cover;
    }
}