<section class="full-height">
    <app-top-header></app-top-header>
    <app-header-tabs></app-header-tabs>
    <div class="flex-row full-height">
        <div class="flex-column full-width">
            <div class="flex-row flex-50 top-section">
                <div class="flex-column full-width flex-center pt-32 pb-32">
                    <h1 class="tagline no-margin">{{ company_tagline }}</h1>
                    <h2 class="greetings no-margin pt-16">{{ greetings }}</h2>
                </div>
            </div>
            <div class="flex-row flex-50 bottom-section">
                <p>dqfqefc</p>
            </div>
        </div>
    </div>
</section>
