<section class="flex-column full-height">
    <app-top-header></app-top-header>
    <app-header-tabs></app-header-tabs>
    <div class="flex-row full-height">
        <div class="flex-column full-width container">
            <div class="flex-row full-height top-section">
                <div class="video-container">
                    <video autoplay muted loop class="video-background">
                        <source src="../../../assets/video/home-page-video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="flex-column full-width flex-center gap-32">
                    <h1 class="roboto-serif-text mat-headline-2 no-margin bold-600 black-text">Unleash The <span class="primary-color-text">Radiance</span></h1>
                    <h1 class="no-margin bold-600 black-text">{{ greetings }}</h1>
                    <div class="flex-row gap-32">
                        <button mat-raised-button color="primary" (click)="navigateToBookSlotPage()">
                            MAKE AN APPOINTMENT
                        </button>
                        <button mat-raised-button color="accent" (click)="navigateToServicePage()">
                            DISCOVER MORE
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex-row full-height bottom-section">
                <div class="flex-50">
                    <div class="flex-row full-height flex-center">
                        <div class="flex-column flex-60 flex-center-start">
                            <h1 class="sansita-text bold primary-color-text">Our Company</h1>
                            <span class="roboto-serif-text white-text bold mat-headline-4 no-margin">
                                We partner with you to create tailor-made solutions, ensuring the highest quality of service that aligns seamlessly with your unique needs and objectives.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="flex-50">
                    <div class="flex-row full-height flex-center">
                        <div class="flex-column flex-60 flex-center-start pb-8">
                            <h1 class="sansita-text bold primary-color-text">Why choose us?</h1>
                            <h1 class="roboto-serif-text white-text bold no-margin">
                                We are one of the leading car detailing service and fastest growing multiple services business in Malaysia that always provide an unwavering commitment to excellence, personalized approach to every client, and a proven track record of delivering results. 
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row overlay-cards-row full-width flex-center gap-64">
                <ng-container *ngFor="let service of services; let i = index">
                    <mat-card 
                        [@increaseDecreaseCardSize]="i === hoveredIndex ? 'hovered' : 'unhovered'" 
                        class="full-height overlay-cards primary-color-card" 
                        (mouseenter)="cardHovered(i)" 
                        (mouseleave)="cardUnhovered()"
                        [style.cursor]="i === hoveredIndex ? 'pointer' : 'default'"
                        (click)="navigateToServicePage()"
                        >
                        <mat-card-content class="full-height">
                            <div class="flex-column flex-center">
                                <img [src]="service.icon" alt="" class="service-icon">
                                <h2>{{ service.name }}</h2>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </ng-container>
            </div>
        </div>
    </div>
</section>
