/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

.lightTheme {
    $light-primary: mat.define-palette(mat.$indigo-palette, 800);
    $light-accent: mat.define-palette(mat.$blue-grey-palette);
    $cardBackground-primary: mat.get-color-from-palette($light-primary, 300);
    $text-color-primary: mat.get-color-from-palette($light-primary, 300);

    $light-theme: mat.define-light-theme((color: (
        primary: $light-primary,
        accent: $light-accent
    )));

    @include mat.all-component-themes($light-theme);

    .primary-color-card {
        background-color: $cardBackground-primary;
        color: white;
    }

    .primary-color-text {
        color: $text-color-primary;
    }
}

.darkTheme {
    $dark-primary: mat.define-palette(mat.$lime-palette, 900);
    $dark-accent: mat.define-palette(mat.$grey-palette, 900);
    $cardBackground-primary: mat.get-color-from-palette($dark-primary, 700);
    $text-color-primary: mat.get-color-from-palette($dark-primary, 500);

    $dark-theme: mat.define-dark-theme((color: (
        primary: $dark-primary,
        accent: $dark-accent
    )));

    @include mat.all-component-themes($dark-theme);

    .primary-color-card {
        background-color: $cardBackground-primary;
        color: white;
    }

    .primary-color-text {
        color: $text-color-primary;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-row {
    display: flex !important;
    flex-direction: row !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-start-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-10 {
    flex: 10%;
}

.flex-20 {
    flex: 20%;
}

.flex-30 {
    flex: 30%;
}

.flex-40 {
    flex: 40%;
}

.flex-50 {
    flex: 50%;
}

.flex-60 {
    flex: 60%;
}

.flex-70 {
    flex: 70%;
}

.flex-80 {
    flex: 80%;
}

.flex-90 {
    flex: 90%;
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.gap-64 {
    gap: 64px;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.align-text-center {
    text-align: center;
}

.sansita-text {
    font-family: "Sansita Swashed", system-ui !important;
}

.roboto-serif-text {
    font-family: "Roboto Serif", serif !important;
}

.roboto-slab-text {
    font-family: "Roboto Slab", serif !important;
}

.roboto-condesed-text {
    font-family: "Roboto Condensed", sans-serif !important;
}

.pt-8 {
    padding-top: 8px;
}

.pt-16 {
    padding-top: 16px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-64 {
    padding-top: 64px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pb-64 {
    padding-bottom: 64px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-16 {
    padding-left: 16px;
}

.pl-32 {
    padding-left: 32px;
}

.pl-64 {
    padding-left: 64px;
}

.pr-8 {
    padding-right: 8px;
}

.pr-16 {
    padding-right: 16px;
}

.pr-32 {
    padding-right: 32px;
}

.pr-64 {
    padding-right: 64px;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.full-size {
    height: 100%;
    width: 100%;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.bold {
    font-weight: bold !important;
}

.bolder {
    font-weight: bolder !important;
}

.bold-900 {
    font-weight: 900 !important;
}

.bold-800 {
    font-weight: 800 !important;
}

.bold-700 {
    font-weight: 700 !important;
}

.bold-600 {
    font-weight: 600 !important;
}

.bold-500 {
    font-weight: 500 !important;
}

.bold-400 {
    font-weight: 400 !important;
}

.bold-300 {
    font-weight: 300 !important;
}

.bold-200 {
    font-weight: 200 !important;
}

.bold-100 {
    font-weight: 100 !important;
}